alembic==1.6.5
bidict==0.21.2
boto3==1.17.83
botocore==1.20.83
click==8.0.1
Flask==2.0.1
Flask-Caching==1.10.1
Flask-Migrate==3.0.0
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
Mako==1.1.4
MarkupSafe==2.0.1
mysql-connector-python==8.0.25
Pillow==8.2.0
protobuf==3.17.3
PyMySQL==1.0.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-engineio==4.2.0
python-socketio==5.3.0
pytz==2021.1
redis==3.5.3
s3transfer==0.4.2
simple-websocket==0.2.0
six==1.16.0
SQLAlchemy==1.4.15
SQLAlchemy-Utils==0.37.6
urllib3==1.26.5
Werkzeug==2.0.1
wsproto==1.0.0
