a{
    text-decoration: none;
}

.top-blank{
    width: 100%;
    height: 59px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bg-scard-l{
    background-color: #3397CF;
}

.bg-scard-l:hover{
    background-color: #5AB0DB;
}
.bg-scard-l:focus{
    box-shadow: none;
}

.scard-l{
    color: #3397CF;
}

.scard-d{
    background-color: #00324E;
}

.bi-wallet2::before{
    transform: rotate(270deg);
}

:is(.form-control, .form-select):focus {
    box-shadow: none;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.home-page{
    font-size: 1.8rem;
}

/* .navbar{
    background-color: #006AA6;
} */

.navbar input{
    border-radius: 5px 0 0 5px;
}
button.search{
    border-radius: 0 5px 5px 0;
}
.navbar-toggler{
    padding: 5px;
}

button.search{
    padding: 0 5px;
}
.navbar-expand-lg .nav-item>.nav-link{
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    line-height: 24px;
    cursor: pointer;
}
i{
    font-size: 1.5rem;
}

.nav-user, .nav-stranger{
    display: none;
}

.message{
    color: red;
}

@media(max-width:1200px){
    .container{
        max-width: 100%;
    }
}

@media(max-width:992px){
    .navbar-nav{
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(max-width:400px){
    .navbar form{
        width: calc(100% - 150px);
    }
}