{% extends "basic.html" %}
    {% block CSS %}
    {% endblock %}

    {% block title %}
    <title>找不到頁面 / Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row mt-4 justify-content-center text-center align-items-end text-white" style="height: 50vh;">
        <div>
            <p>404</p>
            <p>沒有這個頁面</p>
            <a href="/b" class="btn bg-scard-l w-auto text-white">去看更多文章</a>
        </div>
    </main>
    {% endblock %}
    
    {% block JS %}
    {% endblock %}
