{% extends "basic.html" %}
    {% block CSS %}
    {% endblock %}

    {% block title %}
    <title>伺服器連線失敗 / Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row mt-4 justify-content-center text-center align-items-end text-white" style="height: 50vh;">
        <div>
            <h3>500</h3>
            <p class="mb-3">伺服器連線失敗</p>
            <a href="/b" class="btn bg-scard-l w-auto text-white">再試一次</a>
        </div>
    </main>
    {% endblock %}
    
    {% block JS %}
    {% endblock %}
