<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <style>
        .popover{
            padding: 0 0;
            max-width: 400px;
        }

        .note-container{
            width: 320px;
            height: calc(100vh - 150px);
        }
        .note>p{
            text-align: justify;
        }
        .note>.note-time{
            font-size: 12px;
            color: #8c9399;
        }
        .note:last-child>.note-time{
            margin-bottom: 0;
        }
    </style>
    {% block CSS %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body class="scard-d">
    <!-- navbar -->
    <div class="top-blank"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid container">
            <a class="navbar-brand home-page" href="/b">Scard</a>
            <!-- <form class="d-flex me-3 flex-fill">
                <input class="form-control border-info me-auto" type="search" placeholder="搜尋" aria-label="Search">
                <button class="btn btn-outline-info search" type="submit"><i class="bi bi-search"></i></button>
            </form> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-user show">
                    <li class="nav-item mx-2">
                        <a id="new-post" class="nav-link" title="發文" aria-current="page" href="/new-post"><i class="bi bi-pencil-fill"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <span id="notification" tabindex ="0" class="nav-link"><i class="bi bi-bell-fill"></i></span>
                    </li>
                    <li class="nav-item mx-2">
                        <a id="scard" class="nav-link" title="抽卡" href="/scard"><i class="bi bi-wallet2"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a id="message" class="nav-link" title="信件" href="/message"><i class="bi bi-envelope-fill"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a id="my/profile" class="nav-link" title="個人資料" href="/my/profile"><i class="bi bi-person-fill"></i></a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link signout">登出</span>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-stranger">
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">註冊／登入</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 主畫面 -->
    {% block main %}
    {% endblock %}
    <!-- 特殊跳出視窗 -->
    <!-- 處理各式Error訊息的Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="error-modal"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <a href="" class="btn bg-scard-l text-white modal-href"></a>
            </div>
        </div>
        </div>
    </div>
    {% block modal %}
    {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.1.1/socket.io.min.js" integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>
<script>
    const myFollowPostAPI = '/api/post/my-follow'
    const socket = io()
    socket.on('connect', function(){
        fetch(myFollowPostAPI)
        .then(res => res.json())
        .then(data => {
            if(data.posts){
                data.posts.forEach( post => {
                    socket.emit('follow_post', post)
                })
            }
        })
    })

    // 通知
    const noteContainer = document.createElement('div')
    noteContainer.className = 'note-container overflow-auto p-3'

    const noteLst = document.createElement('div')
    noteLst.className = 'note-lst'

    const noteHeader = document.createElement('h5')
    noteHeader.className = 'mb-3'
    noteHeader.innerText = '通知'
    noteContainer.append(noteHeader, noteLst)

    function createNote(data){
        const oldNote = noteLst.querySelector(`a[href="${data.href}"]`)
        if(oldNote){ //如果之前就有相同文章的通知，直接更改資訊即可
            const noteTime = oldNote.querySelector('.note-time')
            noteTime.innerText = data.time
            noteLst.prepend(oldNote)
        }
        else{ //創造新的通知訊息
            const note = document.createElement('a')
            note.className = 'note'
            note.href = data.href
    
            const noteContent = document.createElement('p')
            noteContent.className = 'note-content mb-1 text-body'
            noteContent.innerHTML = data.msg
    
            const noteTime = document.createElement('p')
            noteTime.className = 'note-time mb-3'
            noteTime.innerText = data.time
            
            note.append(noteContent, noteTime)
            noteLst.prepend(note)
        }
    }
    socket.on('receive_post_note', data => {
        console.log(data)
        createNote(data)
    })


    const noteBtn = document.querySelector('#notification')
    const notePopover = new bootstrap.Popover(noteBtn, {
        container: 'body',
        placement: "bottom",
        html: true,
        trigger: 'manual',
        content: noteContainer,
        offset: [120, 7]
    })
    noteBtn.addEventListener('click', ()=>{
        notePopover.toggle()
    })
    // noteBtn.addEventListener('blur', ()=>{
    //     notePopover.hide()
    // })
</script>
<script src="/static/js/all.js"></script>
{% block JS %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</body>
</html>