{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="/static/css/message.css">
    {% endblock %}

    {% block title %}
    <title>與朋友的信 / Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row mt-4 justify-content-evenly">
        <!-- 朋友欄 -->
        <section class="friends col-3 flex-shrink-0">
            <div class="text-white">最新信件</div>
            <div class="list-group mt-3">
                <!-- <a href="/message/6" class="friend  p-3 d-flex w-100" aria-current="true">
                    <img class="rounded" src="https://scard-bucket.s3-ap-northeast-1.amazonaws.com/avatar/default_avatar.jpeg" alt="">
                    <div class="w-240 p-2">
                        <div class="d-flex justify-content-between align-items-center mb-1 lh-1">
                            <h6 class="name text-white m-0 ">邱宇軒</h6>
                            <p class="time text-white-50 m-0">5月30日 08:02</p>
                        </div>
                        <p class="short-letter m-0 text-truncate text-white-50">
                            每天都想來一發爽的yoyoyoyoyasdasdasddasasdfasdfasdfasdfasdf
                        </p>
                    </div>
                </a> -->
            </div>
        </section>
        <!-- 訊息、朋友資訊欄 -->
        <section class="messages-and-friends-info col-7 row">
            <div class="p-2 bg-white rounded mx-auto scard-friend h-100"> 
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="nav-message" class="nav-link active" aria-current="page" href="">&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-friend-info" class="nav-link" href="">&nbsp;</a>
                    </li>      
                </ul>
                <div class="messages d-block">
                    <ul class="list-group list-group-flush old-messages d-flex flex-column-reverse border-0">
                        <!-- 一條訊息的html -->
                        <!-- <li class="list-group-item d-flex">
                            <div class="message-avatar pt-2">
                                <img class="rounded-circle" src="/static/default_avatar.jpeg" alt="">
                            </div>
                            <div class="py-3 w-100">
                                <div class="d-flex justify-content-between align-items-center mb-1 lh-1">
                                    <h6 class="name text-black-50 m-0 ">邱宇軒</h6>
                                    <p class="time text-black-50 m-0">5月30日 09:01</p>
                                </div>
                                <p class="letter pt-2 m-0">
                                    每天都想來一發爽的testestestetestestest
                                </p>
                            </div>
                        </li> -->
                        <li id="message-load" class="text-center m-4" style="list-style:none">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </ul>
                    <div class="px-3 d-flex send-message">
                        <div class="message-avatar pt-2">
                            <img class="rounded-circle" src="/static/blank.png" alt="">
                        </div>
                        <div class="card border-0 w-100">
                            <div class="card-header bg-transparent ps-0 text-black-50">寫一封信</div>
                            <textarea class="form-control border-0 rounded-0 px-0" id="send-message" rows="4"></textarea>
                            <div class="card-footer bg-transparent d-flex justify-content-end pe-0">
                                <p id="alert-message" class="text-danger my-auto pe-3"></p>
                                <button id="send-btn" class="btn bg-scard-l text-white">傳送</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-info p-5 pb-0">
                    <div class="avatar-container mx-auto">
                        <img src="../static/default_avatar.jpeg" class="img-thumbnail" alt="...">
                    </div>
        
                    <div>
                        <h4 class="mx-auto text-center my-3 friend-name"></h4>
                    </div>
        
                    <div class="mb-3">
                        <div class="mx-auto text-center text-muted">
                            <span class="collage"></span>
                            <span>&nbsp</span>
                            <span class="department"></span>
                        </div>
                    </div>
        
                    <div class="mb-4">
                        <label for="birthday" class="form-label scard-l">生日</label>
                        <p class="birthday"></p>
                    </div>
                    <div class="mb-4">
                        <label for="relationship" class="form-label scard-l">感情狀態</label>
                        <p class="relationship"></p>
                    </div>
                    <div class="mb-4">
                        <label for="interest" class="form-label scard-l">興趣與專長</label>
                        <p class="interest"></p>
                    </div>
                    <div class="mb-4">
                        <label for="club" class="form-label scard-l">曾經參加過的社團</label>
                        <p class="club"></p>
                    </div>
                    <div class="mb-4">
                        <label for="course" class="form-label scard-l">喜歡的課程</label>
                        <p class="course"></p>
                    </div>
                    <div class="mb-4">
                        <label for="country" class="form-label scard-l">喜歡的國家</label>
                        <p class="country"></p>
                    </div>
                    <div class="mb-4">
                        <label for="worry" class="form-label scard-l">自己最近的困擾</label>
                        <p class="worry"></p>
                    </div>
                    <div class="mb-4">
                        <label for="swap" class="form-label scard-l">可以交換的事情</label>
                        <p class="swap"></p>
                    </div>
                    <div class="mb-4">
                        <label for="want_to_try" class="form-label scard-l">想嘗試的事情</label>
                        <p class="want-to-try"></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
    
    {% block modal %}
    <!-- 處理各式Error訊息的Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="error-modal"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <a href="/basicprofile" class="btn bg-scard-l text-white modal-href"></a>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}

    {% block JS %}
    <script src="https://cdn.socket.io/4.1.1/socket.io.min.js" integrity="sha384-cdrFIqe3RasCMNE0jeFG9xJHog/tgOVC1E9Lzve8LQN1g5WUHo0Kvk1mawWjxX7a" crossorigin="anonymous"></script>
    <script src="/static/js/message.js"></script>
    {% endblock %}