<!-- <div class="top-blank"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid container">
        <a class="navbar-brand home-page" href="/">Scard</a>
        <form class="d-flex me-auto flex-lg-fill">
            <input class="form-control border-info me-auto" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info search" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-user show">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="bi bi-pencil-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-bell-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scard"><i class="bi bi-file-person"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/message"><i class="bi bi-envelope-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my/profile"><i class="bi bi-person-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link signout" href="#">登出</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-stranger">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">註冊／登入</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->