{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="/static/css/new-post.css">
    {% endblock %}

    {% block title %}
    <title>Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto p-3 px-5 row"> 
        <div class="col-12 col-md-10 col-lg-8  bg-white rounded mx-auto post-form"> 

            <select class="form-select mb-3 board-select">
                <option selected>選擇發文看板</option>
            </select>

            <div class="mb-3 d-flex">
                <img src="https://d2lzngk4bddvz9.cloudfront.net/avatar/default_avatar.jpeg" class="rounded-circle mx-2 post-avatar" alt="">
                <select class="form-select name-select">
                    <option selected>選擇發文身份</option>
                </select>
            </div>

            <textarea class="form-control form-control-lg mb-3 post-title" rows="1" placeholder="文章標題"></textarea>

            <div class="form-control border rounded mb-3 p-3 post-content" contenteditable="true">
                <div id="content-line"><br></div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="upload-img-field mx-2">
                    <label for="img">
                        <i class="bi bi-image fs-2 text-secondary"></i>
                    </label>
                    <input id="img" class="d-none" type="file" accept="image/*">
                </div>
                <div class="d-flex align-items-center">
                    <p class="message text-end"></p>
                    <a href="/" class="btn btn-secondary me-4">取消</a>
                    <button class="btn bg-scard-l text-white">送出</button>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    
    {% block modal %}
    <!-- 處理各式Error訊息的Modal -->
    <div class="modal fade" id="error-modal" tabindex="-1" aria-labelledby="error-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="error-modal"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <a href="/" class="btn bg-scard-l text-white modal-href"></a>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}

    {% block JS %}
    <script src="/static/js/new-post.js"></script>
    {% endblock %}