{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/post.css">
    {% endblock %}

    {% block title %}
    <title>Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row px-0 mt-sm-4">
        <div class="col-sm-3 col-md-2 blank"></div>
        <section class="boards col-sm-3 col-md-2 position-fixed">
            <h3 class="text-white">看板列表</h3>
            <div class="list-group mt-2">
                <a href="/b/COVID-19" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/COVID-19.svg" alt="">
                    <p class="my-auto">COVID-19</p>
                </a>
                <a href="/b/relationship" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/relationship.svg" alt="">
                    <p class="my-auto">感情</p>
                </a>
                <a href="/b/trending" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/trending.svg" alt="">
                    <p class="my-auto">時事</p>
                </a>
                <a href="/b/talk" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/talk.svg" alt="">
                    <p class="my-auto">閒聊</p>
                </a>
                <a href="/b/mood" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/mood.svg" alt="">
                    <p class="my-auto">心情</p>
                </a>
                <a href="/b/job" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/job.svg" alt="">
                    <p class="my-auto">工作</p>
                </a>
                <a href="/b/youtuber" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/youtuber.svg" alt="">
                    <p class="my-auto">Youtuber</p>
                </a>
                <a href="/b/tvepisode" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/tvepisode.svg" alt="">
                    <p class="my-auto">戲劇綜藝</p>
                </a>
                <!-- <a href="/b/music" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/music.svg" alt="">
                    <p class="my-auto">音樂</p>
                </a> -->

            </div>
        </section>
        <section class="col-12 col-sm-8 d-flex flex-column p-0 bg-white post-field">
            <!-- 主文章 -->
            <div class="p-5 the-post">
                <div class="d-flex mb-3 author-field">
                    <img class="me-2 rounded-circle" src="/static/blank.png" alt="">
                    <p class="user-name"></p>
                </div>
                <div class="position-relative">
                    <h3 class="mb-2 post-title"></h3>
                    <button class="position-absolute end-0 top-0 btn py-0 text-secondary d-none post-edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </button>
                </div>
                <div class="d-flex mb-3 text-secondary post-info">
                    <a class="scard-l post-board"></a>
                    <p>・</p>
                    <p class="create-time"></p>
                </div>
                <div class="mb-4 post-content">
                    
                </div>
                <div class="d-flex justify-content-between w-100 text-secondary fs-5 info-field">
                    <div class="d-flex align-items-center post-count">
                        <img class="me-2" src="/static/icons/like.svg" alt="">
                        <p class="like-count"></p>
                        <p>&nbsp;・&nbsp;</p>
                        <img class="me-2" src="/static/icons/comment.svg" alt="">
                        <p class="me-2 comment-count"></p>
                    </div>
                    <div class="d-flex align-items-end post-interact">
                        <div class="me-3 like">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </div>
                        <div class="me-3 ms-2 follow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 留言區 -->
            <div class="bg-light px-5 py-4 flex-fill comments">
                <div class="comments-field">
                    <p class="fs-5 m-0 border-bottom">共 <span class="comment-count"></span> 則回應</p>
                    <ul id="comment-list" class="list-group list-group-flush">
                        <!-- <li class="list-group-item px-0 py-3 comment">
                            <div class="d-flex justify-content-between align-items-center text-black-50 fs-6 mb-2 comment-header">
                                <div class="d-flex author-field">
                                    <img class="me-2 rounded-circle avatar" src="/static/blank.png" alt="">
                                    <div class="cmt-author">
                                        <p class="mb-0 user-name">
                                            國立台灣師範大學
                                        </p>
                                        <div class="d-flex">
                                            <p class="floor">
                                                B1
                                            </p>
                                            <p>・</p>
                                            <p class="comment-time">
                                                6月22日 22:58
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex info-field post-interact">
                                    <div class="d-flex align-items-center like">
                                        <div class="me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                        </div>
                                        <p class="me-2">
                                            233
                                        </p>
                                    </div>
                                    <div class="info-bar my-auto bg-secondary mx-2"></div>
                                    <div class="edit ms-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <img class="upload-img" src="https://d2lzngk4bddvz9.cloudfront.net/image/06a6e4f9-b987-4c0f-ada5-d4b7fde47dd8.jpeg">
                                <p>Dcard複製品，專案內容建置中，目前已完成功能：帳號系統、基本資料、自介填寫、抽卡配對、聊天系統、PO文系統(主頁瀏覽PO文功能尚未完成)。</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>

            <!-- 留言編輯區 -->
            <div class="px-5 py-3 position-sticky bottom-0 bg-white border-top text-secondary comment-blank">回應...</div>
            <div class="px-5 py-3 position-sticky bottom-0 bg-white w-100 border-top post-comment d-none">
                <div class="d-flex author-field">
                    <img src="/static/icons/avatar/female-mask.svg" class="rounded-circle me-2 post-comment-avatar" alt="">
                    <select class="form-select name-select">
                    </select>
                    <div class="spinner-border d-none upload-img-spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="expand-btn" class="ms-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                        </svg>
                    </div>
                    <div id="contract-btn" class="ms-auto d-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                        </svg>
                    </div>
                    
                </div>
                <div class="form-control border rounded post-comment-content overflow-auto" contenteditable="true">
                    <p><br></p>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="upload-img-field mx-2">
                        <label for="img">
                            <i class="bi bi-image fs-2 text-secondary"></i>
                        </label>
                        <input id="img" class="d-none" type="file" accept="image/*">
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="message text-end"></p>
                        <button class="btn btn-secondary me-4 cancel">取消</button>
                        <button class="btn bg-scard-l text-white send-comment">送出</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}

    {% block modal %}
    <!-- 刪除文章、留言的Modal -->
    <div class="modal fade" id="del-modal" tabindex="-1" aria-labelledby="del-modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="del-modal">確認刪除？</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button class="btn btn-danger text-white modal-href">刪除</button>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
    
    {% block JS %}
    <script type="text/javascript" src="/static/dompurify/purify.js"></script>
    <script src="/static/js/post.js"></script>
    {% endblock %}