{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/post-not-exist.css">
    {% endblock %}

    {% block title %}
    <title>Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row px-0 mt-4">
        <div class="col-2 blank"></div>
        <section class="boards col-2 position-fixed">
            <h3 class="text-white">看板列表</h3>
            <div class="list-group mt-2">
                <a href="/b/COVID-19" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/COVID-19.svg" alt="">
                    <p class="my-auto">COVID-19</p>
                </a>
                <a href="/b/relationship" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/relationship.svg" alt="">
                    <p class="my-auto">感情</p>
                </a>
                <a href="/b/trending" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/trending.svg" alt="">
                    <p class="my-auto">時事</p>
                </a>
                <a href="/b/talk" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/talk.svg" alt="">
                    <p class="my-auto">閒聊</p>
                </a>
                <a href="/b/mood" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/mood.svg" alt="">
                    <p class="my-auto">心情</p>
                </a>
                <a href="/b/job" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/job.svg" alt="">
                    <p class="my-auto">工作</p>
                </a>
                <a href="/b/youtuber" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/youtuber.svg" alt="">
                    <p class="my-auto">Youtuber</p>
                </a>
                <a href="/b/tvepisode" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/tvepisode.svg" alt="">
                    <p class="my-auto">戲劇綜藝</p>
                </a>
                <!-- <a href="/b/music" class="board pe-3 d-flex text-white" aria-current="true">
                    <img class="my-auto me-2" src="/static/icons/music.svg" alt="">
                    <p class="my-auto">音樂</p>
                </a> -->

            </div>
        </section>
        <section class="col-8 bg-white rounded px-0 post-not-exist">
            <div class="text-center text-secondary position-relative">
                <h2 class="mb-3">OH！文章不見了</h2>
                <p class="mb-1 fs-5">此篇文章不存在、被移除或被抓走了...</p>
                <p class="fs-5"><a href="/b" class="scard-l">按這裡 </a> 看更多文章吧</p>
            </div>
        </section>
    </main>
    {% endblock %}
    
    {% block JS %}
    <script src="/static/js/index.js"></script>
    {% endblock %}