{% extends "basic.html" %}
    {% block title %}
    <title>註冊 / Scard</title>
    {% endblock %}

    {% block main %}
    <main class="container mx-auto row mt-5">
        <form class="col-10 col-md-8 col-lg-6 p-4 bg-white rounded mx-auto signup"> 
            <h3>註冊 / 登入</h3>
            <div class="mb-3">
                <label for="email" class="form-label">常用信箱</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密碼</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <p class="message"></p>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn bg-scard-l text-white">註冊 / 登入</button>
            </div>
        </form>
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0&appId=201932648371956&autoLogAppEvents=1" nonce="tRCLLQrM"></script>
    </main>
    {% endblock %}
    
    {% block JS %}
    <!-- <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '201932648371956',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v11.0'
            });
            // FB.ui({
            //     method: 'share',
            //     href: 'https://developers.facebook.com/docs/'
            // }, function(response){});
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js"></script> -->

    <!-- <script>
        window.fbAsyncInit = function() {
        FB.init({
            appId      : '201932648371956',
            cookie     : true,
            xfbml      : true,
            version    : 'v11.0'
        });
            
        FB.AppEvents.logPageView();   
        
        // FB.getLoginStatus(function(response) {
        //     statusChangeCallback(response);
        // });

        function statusChangeCallback(response) {
                console.log('statusChangeCallback');
                console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                // Logged into your app and Facebook.
                // testAPI();
                } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
                } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into Facebook.';
                }
            }
        };
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/zh_TW/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->
    <script src="/static/js/signup.js"></script>
    {% endblock %}
