{% extends "basic.html" %}
    {% block CSS %}
    <style>
        main{
            height: calc(100vh - 100px);
            width: 350px;
            padding-top: 150px;
        }
        img{
            width: 128px; height: 128px;
        }
        .page{
            width: 100%;
            height: 320px;
        }
    </style>
    {% endblock %}

    {% block title %}
    <title>前去驗證信箱 / Scard</title>
    {% endblock %}

    {% block main %}
    <main class="mx-auto text-center">
        <div class="bg-white rounded page pt-2">
            <img class="mb-2" src="/static/icons/mail.svg">
            <h3 class="mb-2">驗證信箱</h3>
            <p class="mb-1 scard-l">{{ mail }}</p>
            <p class="mb-2">完成信箱驗證，馬上啟用Scard帳號吧！</p>
            <div class="d-flex justify-content-evenly mb-2">
                <a href="/b" class="btn bg-scard-l w-auto text-white">返回首頁</a>
                <button id="send-again" class="btn bg-scard-l text-white">再寄一次</button>
            </div>
            <p id="AJAX-msg" class="scard-l"></p>
        </div>
    </main>
    {% endblock %}
    
    {% block JS %}
    <script>
        const mailVerifyAPI = '/api/mailverify'
        const sendBtn = document.querySelector('#send-again')
        const msg = document.querySelector('#AJAX-msg')
        async function reVerifyMail(){
            const res = await fetch(mailVerifyAPI, {method:'POST'})
            const data = await res.json()
            if(data.ok){
                msg.innerText = '已經重新寄送驗證信囉，趕快去確認吧！'
            }else{
                showErrorModal(data)
            }
        } 
        sendBtn.addEventListener('click', reVerifyMail)
    </script>
    {% endblock %}